<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">FeedbackApp</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            {% if 'username' not in session %}
            <a class="nav-link" href="/register">Register</a>
            <a class="nav-link" href="/login">Login</a>
            {% else %}
            <form action="/logout" method="POST">
              <button class="btn btn-outline-light" type="submit">
                Logout
              </button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      {% for ctg, msg in get_flashed_messages(with_categories=True) %}
      <p class="alert alert-{{ctg}}">{{ msg }}</p>
      {% endfor %}
      <!--  -->
      {% block main_content %}
      <!--  -->
      {% endblock %}
    </div>
  </body>
</html>
