{% extends "base.html" %}
<!--  -->
{% block title %}FeedbackApp{% endblock %}
<!--  -->
{% block main_content %}
<div class="container">
  <h1 class="display-4">Recent Feedback</h1>
  <!--  -->
  {% if 'username' in session %}
  <p>
    <a href="/users/{{session['username']}}/feedback/add"
      ><button class="btn btn-primary">Add Feedback</button></a
    >
  </p>
  {% endif %}
  <!--  -->
  <div class="container text-left">
    <div class="row align-items-start">
      {% for feedback in feedbacks %}
      <div class="card col-sm-6 col-md-4">
        <div class="card-body">
          <h5 class="card-title">{{feedback.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            by <a href="/users/{{feedback.username}}">{{feedback.username}}</a>
          </h6>
          <p class="card-text">{{feedback.content}}</p>
          {% if feedback.username == session['username'] %}
          <div class="btn-group" role="group" aria-label="Basic example">
            <form action="/feedback/{{feedback.id}}/update" method="GET">
              <button class="btn btn-sm btn-primary">Edit</button>
            </form>
            <form action="/feedback/{{feedback.id}}/delete" method="POST">
              <button class="btn btn-sm btn-danger mx-2">Delete</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
